pipeline/SQL_to_Datalake.json
{
	"name": "SQL_to_Datalake",
	"properties": {
		"activities": [
			{
				"name": "Get list of tables to copy to datalake",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.DWIngestionTableList where ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetList",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach record in list of dw tables to ingest",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get list of tables to copy to datalake",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get list of tables to copy to datalake').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from source db",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM [', item().SchemaName, '].[', item().TableName, ']')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "GetList",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}